.bookDetails{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    background-color: #b5c95a;
    font-size: large;
    margin-bottom: 60px;
    padding: 10px;
    border-radius: 40px;
}

.bookDetails__top{
    display: flex;
    flex-direction: column;
}

.bookDetails__items{
    margin-bottom: 20px;
    padding: 10px;
}

.bookDetails__label{
    font-weight: 600;
    color: black;
}

.bookDetails__form{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.bookDetails__form__div{
    width: 50%;
    margin: auto;
}

.bookDetails__form__Rating{
    margin-right: 20px;
}

.bookDetails__form__Comment{
    margin-top: 10px;
}

.bookDetails__form__btn{
    text-align: center;
    margin-top: 10px;
    
}

.bookDetails__form__Rating__input{
    margin-left: 25px;
}

.bookDetails__form__btn-submit{
    border-radius: 5px;
    background-color: rgb(196, 178, 178);
    font-size: 15px;
    margin-left: 10px;
    padding: 5px;
}

.preferences__showSaved{
    margin-left: 10px;
    color: red;

}