.preferences{
    background-color: #b5c95a;
    margin: auto;
    width: 50%;
    margin-top: 100px;
    padding: 10px;
    border-radius: 40px;
}

.preferences__genre{
    margin-bottom: 20px;
    padding:15px;
}

.preferences__btn{
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(196, 178, 178);
    font-size: 15px;
    padding: 5px;
}

.preferences__showSaved{
    margin-left: 10px;
    color: red;
}