body{
    font-family: 'Golos Text', sans-serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.search-bar{
    margin-top: 20px;
    text-align: center;
}