body{
    font-family: 'Golos Text', sans-serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin: 20px 40px 40px 40px;
}

.search-bar{
    margin-top: 20px;
    text-align: center;
}

.search-bar__input{
    margin-right: 20px;
    font-size: 20px;
}

.search-bar__btn{
    margin-left: 20px;
    border-radius: 5px;
    background-color: rgb(196, 178, 178);
    font-size: 20px;
}

.search-bar__select{
    font-size: 20px;
}